<?xml version="1.0" encoding="UTF-8"?>
<settings>
	<plot>
		<xmin>-10.0</xmin>
		<xmax>10.0</xmax>
		<ymin>-10.0</ymin>
		<ymax>10.0</ymax>
	</plot>
	<offset>
		<default>0.01</default>
		<computing>0.4</computing>
	</offset>
	<bounds>
		<computed>false</computed>
		<computeFactor>1.1</computeFactor>
	</bounds>
	<functions>
		<arguments>
			<argument>x</argument>
			<argument>t</argument>
		</arguments>
	</functions>
</settings>
